body {
  background:url(globe.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center; 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#submitButton {
  visibility: hidden;
}
#highScore {
  white-space: nowrap;
}
input[type=text] {
   width: 300px;
}